.pvt-nav {
    z-index: 3000;
}

.pvt-nav .foot {
    z-index: 356786;
}

a {
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    z-index: 28929;
}

.drow-one {
    padding-top: 40px;
    padding-bottom: 30px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dcol {
    padding: 1% 1%;
}

.pvt-nav .foot a #first {
    border-bottom: 2px solid deeppink;
}


/* width */

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}


/* Track */

.pn-con::-webkit-scrollbar-track {
    background: white;
}


/* Handle */

.pn-con::-webkit-scrollbar-thumb {
    background: white;
}


/* .dcol:nth-child(2) {
    margin-top: 10%;
} */


/* Handle on hover */

.pn-con::-webkit-scrollbar-thumb:hover {
    background: white;
}

.pn-con {
    margin-top: 5px;
    width: 100%;
    overflow-x: scroll;
}

.pn-con .popular-niches {
    width: 150%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pn-con .popular-niches .pniche {
    padding: 1%;
    border-radius: 10px;
    margin-right: 3%;
    transition: 0.5s;
    background-color: #dcf8c6;
    box-shadow: 2px 2px 3px rgb(240, 240, 240);
}

.pn-con .popular-niches .pniche:hover {
    background-color: #25d366;
    background-color: rgb(13, 139, 77);
    color: white;
}

.userposts {}

.userpost .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.userpost .head a {
    border-radius: 5px;
}

.userpost .head a:nth-child(1) {
    color: rgb(13, 139, 77);
    margin-left: 1%;
    padding: 0.3% 1%;
}

.userpost .head a:nth-child(2) {
    background-color: #dcf8c6;
    color: black;
    margin-right: 2%;
    font-size: 0.9rem;
    padding: 0.5%;
    border: 2px solid #dcf8c6;
    box-shadow: 2px 2px 3px rgb(240, 240, 240);
}

.userposts .userpost {
    border: 1px solid rgb(240, 240, 240);
    margin: 10px 0;
    padding: 0;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(240, 240, 240);
    transition: 1s;
}

.userposts .userpost:hover {
    background-color: rgb(248, 248, 248);
}

.userpost .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.userpost .middle .post-thumbnail {
    width: 150px;
    height: 150px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    margin-right: 3px;
}

.userpost .middle .title {
    display: block;
    font-weight: 530;
    font-size: 1rem;
    text-align: start;
    width: 85%;
    text-align: start;
}

.userpost .content-con .title:focus {
    color: rgb(13, 139, 77);
}

.userpost .content-con .post-type {
    margin-top: 2px;
    display: inline-block;
    margin-left: 5px;
    padding: 0.5% 1.5%;
    font-size: 0.9rem;
    border-radius: 5px;
}

.userpost .metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
    border-top: 1px solid rgb(240, 240, 240);
}

.userpost .metadata .user-info {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    width: 40%;
}

.userpost .metadata .user-info .photo {
    width: 35px;
    height: 35px;
}

.userpost .metadata .user-info img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 50%;
}

.userpost .metadata .user-info .ud {
    width: 80%;
}

.userpost .metadata .user-info .ud .username {
    display: block;
}

.userpost .metadata .user-info .ud .date {
    font-size: 0.7rem;
    color: gray;
    margin-top: -1px;
}

.userpost .metadata .stats {
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 39%;
}

.userpost .metadata .stats svg {
    fill: grey;
}

.userpost .metadata .stats div {
    margin: 0 4px;
    width: 45%;
}

.userpost .metadata .stats .count {
    font-size: 0.7rem;
    color: grey;
}

.userpost .metadata .alias-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-posts-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}

.niches-section {
    margin-bottom: 70px;
    position: fixed;
    width: 23%;
}

.content-types-section {
    display: none;
}

@media screen and (min-width:576px) {
    .dcol:nth-child(2) {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width:768px) {
    .dcol:nth-child(2) {
        margin-top: 60px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .userpost {
        border: 1px solid rgb(240, 240, 240);
    }
}

@media screen and (min-width:992px) {
    .drow-one {
        padding-top: 60px;
    }
    .dcol:nth-child(2) {
        margin-top: 8px;
    }
    .pn-con .popular-niches {
        padding: 0.5% 0;
    }
    .userpost .middle .post-thumbnail {
        width: 200px;
        height: 200px;
    }
    .content-types-section {
        display: block;
        position: fixed;
        top: 45px;
        width: 23%;
        background-color: white;
        right: 1%;
        padding: 1%;
        border-radius: 5px;
        background-color: white;
    }
    .content-types-section a {
        background-color: #dcf8c6;
        display: block;
        margin: 10px 0;
        font-size: 1.2rem;
    }
    .content-types-section a:hover {
        color: deeppink;
        background-color: rgb(248, 248, 248);
        border: 1px solid rgb(248, 248, 248);
    }
}