.site-nav {
    z-index: 2000;
}

.pvt-nav {
    z-index: 3000;
}

.pvt-nav .foot {
    z-index: 356786;
}

.pvt-nav .foot #first {
    border-bottom: 2px solid rgb(13, 139, 77);
}

a {
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    z-index: 28929;
}

a:focus,
a:hover {
    color: rgb(13, 139, 77);
}

a:visited {
    color: black;
}

.drow-one {
    padding-top: 40px;
    padding-bottom: 30px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dcol {
    padding: 1% 1%;
}


/* width */

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}


/* Track */

.pn-con::-webkit-scrollbar-track {
    background: white;
}


/* Handle */

.pn-con::-webkit-scrollbar-thumb {
    background: white;
}


/* Handle on hover */

.pn-con::-webkit-scrollbar-thumb:hover {
    background: white;
}

.pn-con {
    margin-top: 5px;
    width: 100%;
    overflow-x: scroll;
}

.pn-con .popular-niches {
    width: 150%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pn-con .popular-niches .pniche {
    padding: 0.5% 1%;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    margin-right: 3%;
    transition: 1s;
}

.pn-con .popular-niches .pniche:hover {
    background-color: rgb(105, 104, 116);
    border: 1px solid white;
    color: white;
}

.userposts {}

.userposts .userpost {
    margin: 10px 0;
    padding: 0;
    border-radius: 5px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}

.userposts .userpost:hover {
    background-color: ghostwhite;
}

.userpost .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.userpost .head .post-thumbnail {
    width: 50%;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
}

.userpost .head .title {
    display: block;
    font-weight: 500;
    font-size: 1rem;
    text-align: start;
    width: 74%;
}

.userpost .content-con .title:focus {
    color: rgb(13, 139, 77);
}

.userpost .content-con .post-type {
    margin-top: 2px;
    display: inline-block;
    margin-left: 5px;
    padding: 0.5% 1.5%;
    font-size: 0.9rem;
    border-radius: 5px;
}

.userpost .metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
    border-top: 1px solid rgb(240, 240, 240);
}

.userpost .metadata .user-info {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
}

.userpost .metadata .user-info .photo {
    width: 35px;
    height: 35px;
}

.userpost .metadata .user-info img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
}

.userpost .metadata .user-info .ud .date {
    font-size: 0.7rem;
    color: gray;
    margin-top: -1px;
}

.userpost .metadata .stats {
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 39%;
}

.userpost .metadata .stats div {
    margin: 0 4px;
    width: 45%;
}

.userpost .metadata .stats .count {
    font-size: 0.7rem;
    color: grey;
}

.userpost .metadata .alias-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-posts-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}

.niches-section {
    margin-bottom: 70px;
    position: fixed;
    width: 23%;
}

@media screen and (min-width:576px) {
    .dcol:nth-child(2) {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width:768px) {
    .dcol:nth-child(2) {
        margin-top: 60px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .userpost {
        border: 1px solid rgb(240, 240, 240);
    }
}

@media screen and (min-width:992px) {
    .drow-one {
        padding-top: 60px;
    }
    .dcol:nth-child(2) {
        margin-top: 8px;
    }
    .pn-con .popular-niches {
        padding: 0.5% 0;
    }
}