.pvt-nav .foot {
    z-index: 200077;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pvt-nav .foot a p {
    font-weight: 500;
    font-size: 0.9rem;
}

.events-menu {
    margin-left: -2%;
}

.drow-one {
    padding-top: 60px;
    padding-bottom: 40px;
}

.dcol {
    padding: 0 1%;
}

.dcol:nth-child(3) {}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(13, 139, 77);
}

.parent {
    padding: 1%;
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    background-color: #dcf8c6;
}

.post-title {
    border: 1px solid rgb(240, 240, 240);
    padding: 1%;
    margin-top: -21px;
    border-radius: 5px;
}

.post-stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    border-radius: 5px;
    transition: 1s;
    text-align: center;
    margin-top: 2px;
}

.post-stats p {
    margin: 0;
    margin-right: 3%;
}

.sitewide-loader {}

.post-content {
    margin: 5px 0;
    padding: 1%;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    font-size: 1.1rem;
    color: rgb(54, 54, 54);
}

.poster-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px auto;
    flex-wrap: wrap;
    padding-bottom: 0.5%;
}

.poster-details .poster {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poster-details .poster .photo {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-right: 3px;
}

.poster-details .poster .more {
    width: 85%;
}

.poster-details .poster .more .date {
    display: block;
    font-size: 0.7rem;
    color: gray;
}

.poster-details .category {
    margin-top: 5px;
    margin-left: 10px;
    padding: 0.5%;
    border-radius: 5px;
    color: rgb(13, 139, 77);
    font-size: 0.9rem;
    border-radius: 10px;
    background-color: gray;
    color: white;
}

.post-content {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.post-content img {
    width: 100%;
}

.post-functions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(214, 213, 213);
    padding: 1%;
}

.post-functions b {
    width: 50%;
    display: block;
    text-align: center;
}

.post-functions b:nth-child(1) {
    color: rgb(13, 139, 77);
}

.post-functions b:hover {
    color: rgb(13, 139, 77);
}

.comment-add-form {
    width: 100%;
    padding: 1% 0;
}

form input:focus,
button:focus,
.comment-add-form textarea:focus {
    border-color: rgb(224, 223, 223);
    box-shadow: 1px 1px 3px 3px rgb(229, 245, 238);
}

.post-comment-section {
    border-top: 1px solid rgb(240, 240, 240);
    margin-top: 10px;
}

.post-comment-section .comment {
    padding: 1% 0;
    border: 1px solid rgb(240, 240, 240);
    z-index: 500;
    position: relative;
    border-radius: 5px;
    transition: 1s;
    font-size: 1rem;
    background-color: white;
    margin: 10px auto;
    box-shadow: 2px 2px 3px rgb(240, 240, 240);
}

.post-comment-section .comment .body {
    padding: 1%;
}

.post-comment-section .comment .commenter-con {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.post-comment-section .comment .commenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.post-comment-section .comment .commenter .pic {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 5px;
    padding: 0.5%;
    border: 1px solid rgb(214, 213, 213);
}

.post-comment-section .comment .commenter .metadata {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.post-comment-section .comment .commenter .metadata .username {
    font-weight: 600;
    font-size: 0.9rem;
}

.post-comment-section .comment .commenter .metadata .dot {
    padding: 5%;
    color: deeppink;
}

.post-comment-section .comment .commenter .metadata .date {
    color: gray;
    font-size: 0.7rem;
}

.post-comment-section .comment .commenter-con .reply-count {
    color: deeppink;
}

.post-comment-section .comment .replies-con {
    padding: 1%;
    display: none;
}

.post-comment-section .comment .reply-form {
    border-top: 1px solid rgb(240, 240, 240);
    margin-top: 10px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-comment-section .comment .reply-form input {
    width: 80%;
    border: 1px solid white;
}

.post-comment-section .comment .reply-form input:focus {
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 2px 2px 3px rgb(240, 240, 240);
}

.post-comment-section .comment .reply-form button {
    background-color: #dcf8c6;
}

.post-comment-section .comment .replies-con .reply {
    background-color: #dcf8c6;
    width: 80%;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 1%;
    border: 1px solid rgb(240, 240, 240);
}

.post-comment-section .comment .replies-con .reply .replyer {
    font-size: 0.7rem;
    font-weight: 600;
}

.post-comment-section .comment .replies-con .reply .date {
    margin-left: 10px;
    color: gray;
    font-size: 0.7rem;
}

.userpost .middle .post-thumbnail {
    width: 135px;
    height: 135px;
}

.userpost .metadata .stats .bi-three-dots-vertic­al {
    display: none;
}

@media screen and (min-width:567px) {
    .dcol:nth-child(2) {
        padding-left: 10%;
        padding-right: 10%;
    }
    .dcol:nth-child(3) {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 768px) {
    .dcol:nth-child(2) {
        padding-top: 55px;
    }
    .dcol:nth-child(2) {
        padding-left: 1%;
        padding-right: 1%;
    }
    .dcol:nth-child(3) {
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media screen and (min-width:992px) {
    .dcol:nth-child(2) {
        padding-top: 10px;
    }
    .dcol:nth-child(3) {
        padding-top: 27px;
    }
    .post-functions {
        display: none;
    }
    .related-posts-section {
        position: fixed;
        top: 74px;
        right: 1%;
        width: 23%;
        overflow-y: scroll;
        height: 100%;
        padding: 1% 0.5%;
        padding-bottom: 100px;
    }
    .userpost .middle .post-thumbnail {
        width: 60px;
        height: 60px;
    }
}