.site-nav {
    z-index: 2000;
}

.pvt-nav {
    z-index: 3000;
}

.pvt-nav .foot {
    z-index: 356786;
}

.pvt-nav .foot #fourth {
    border-bottom: 2px solid deeppink;
}

a {
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    z-index: 28929;
}

a:focus,
a:hover {
    color: rgb(13, 139, 77);
}

a:visited {
    color: black;
}

.drow-one {
    padding-top: 40px;
    padding-bottom: 30px;
}

.dcol {
    padding: 1% 1%;
}

.dcol input:focus,
.dcol select:focus {
    border-color: rgb(197, 196, 196);
    box-shadow: 1px 1px 2px 1px rgb(241, 245, 242);
}

.edit-scopes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    margin-bottom: 0;
}


/** code for list of self posts */

.userposts2edit-con {
    position: relative;
    background-color: white;
    z-index: 2922827783;
    position: fixed;
    top: 60px;
    margin-left: -1%;
    width: 100%;
    height: 81.5%;
    padding: 1%;
    display: none;
    overflow-y: scroll;
    transition: 1s;
}

.searched-posts .suggestion {
    padding: 1%;
    display: block;
    margin: 10px 0;
    border-bottom: 1px solid rgb(240, 240, 240);
    transition: 1s;
    color: gray;
}

.searched-posts .suggestion:hover {
    color: deeppink;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
}

.self-post-search {
    border: 1px solid gray;
}

.self-posts {}

.self-posts .self-post {
    background-color: white;
    position: relative;
    border-radius: 5px;
    padding: 1% 0;
    margin: 10px auto;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 2px 2px 3px rgb(240, 240, 240);
    min-height: 10px;
}

.self-post .title {
    display: block;
    font-weight: 500;
    padding: 1%;
    font-size: 0.9rem;
}

.self-post .content-type {
    display: block;
    text-align: end;
    margin-top: 15px;
    color: black;
    font-size: 0.8rem;
    padding: 1%;
}

.self-post .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-top: 1px solid rgb(240, 240, 240);
    font-size: 0.8rem;
}

.self-post .foot button {
    padding: 2%;
    margin-right: 20px;
    border-radius: 5px;
    border: 0;
}

.self-post .foot button:nth-child(1) {
    background-color: rgb(13, 139, 77);
    border: 0;
    color: white;
}

.self-post .foot button:nth-child(2) {
    color: deeppink;
}

.self-post .foot .date {
    color: gray;
    font-size: 0.8rem;
}

.self-post .foot .controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.self-post .delete {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: red;
    z-index: 220199999999999999999999993277327;
}

.self-posts .self-post:hover {
    background-color: rgb(240, 240, 240);
}


/** special ckeditor code */

.ck-editor__editable {
    min-height: 200px;
}

@media screen and (min-width:576px) {
    .dcol:nth-child(2) {
        padding-left: 10%;
        padding-right: 10%;
    }
    .dcol:nth-child(3) {
        padding-left: 10%;
        padding-right: 10%;
    }
    .userposts2edit-con {
        width: 81%;
    }
}

@media screen and (min-width:768px) {
    .dcol:nth-child(2) {
        margin-top: 60px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .dcol:nth-child(3) {
        padding-left: 34%;
        padding-right: 1%;
    }
    .userposts2edit-con {
        top: 100px;
        width: 65%;
        right: 1%;
        height: 83%;
        margin-top: 5px;
    }
}

@media screen and (min-width:992px) {
    .drow-one {
        padding-top: 60px;
    }
    .dcol:nth-child(2) {
        margin-top: 1px;
    }
    .dcol:nth-child(3) {
        padding-left: 1%;
        padding-right: 1%;
    }
    .your-posts-display-btn {
        display: none;
    }
    .userposts2edit-con {
        top: 73px;
        display: block;
        width: 23%;
        padding: 0 0.5%;
    }
    .self-posts-cancel-icon {
        display: none;
    }
}