.drow-one {
    padding-top: 70px;
}

.pvt-nav .foot {
    z-index: 334567;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: rgb(13, 139, 77);
}

.msg-form {
    display: none;
}

.msg-form textarea:focus {
    border-color: rgb(224, 223, 223);
    box-shadow: 1px 1px 3px 3px rgb(229, 245, 238);
}

.profile-con {
    margin: 5px auto;
}

.profile-con img {
    margin: 1px auto;
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 1%;
    border: 1px solid rgb(240, 240, 240);
}

.intro {
    text-align: center;
}

.connection-con {
    text-align: center;
}

.connection-con .btn {
    margin: 0 7px;
}

.profile-paths {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgb(240, 240, 240);
    text-align: center;
}

.profile-paths b {
    padding-bottom: 3px;
    width: 25%;
}

.profile-paths .bio {
    border-bottom: 2px solid rgb(13, 139, 77);
}

.network-section,
.posts-section,
.niches-section {
    display: none;
}

.profile-niche {
    margin-bottom: 5px;
}

.profile-niche .info {
    margin-top: 10px;
    border-top: 1px solid rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.profile-niche .niche-name {
    padding-bottom: 20px;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.profile-niche .info span {
    color: grey;
    font-size: 0.8rem;
}


/**  duplicate  person code */

.people {}

.people .person {
    margin: 5px 0;
    padding: 2% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.people .person .info {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.people .person .info img {
    border-radius: 50%;
    margin-right: 5px;
}

.people .person .info .user .fullname {
    font-size: 0.8rem;
    display: block;
    color: grey;
}

.people .person .btn {
    padding: 1% 2%;
}


/** user posts  duplicate code */

.userposts {}

.userposts .userpost {
    position: relative;
    margin: 5px 0;
    padding: 2% 1%;
    padding-bottom: 0;
}

.userpost .thumbnail-con img {
    width: 100%;
}

.userpost .content-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userpost .content-con img {
    width: 30%;
    margin-right: 10px;
    border-radius: 5px;
}

.userpost .content-con .title {
    display: block;
    font-weight: 500;
}

.userpost .date {
    font-size: 0.8rem;
    color: gray;
}

.userpost .metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
    border-top: 1px solid rgb(240, 240, 240);
}

.userpost .metadata .niche-info {
    width: 40%;
}

.userpost .metadata .niche-info .btn {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

.userpost .metadata .stats {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.userpost .metadata .stats div {
    margin: 0 7px;
}

.userpost .metadata .stats .count {
    font-size: 0.7rem;
    color: grey;
}

.userpost .metadata .alias-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}