.site-nav {
    z-index: 2000;
}

.pvt-nav {
    z-index: 3000;
}

.pvt-nav .foot {
    z-index: 356786;
}

.pvt-nav .foot #third {
    border-bottom: 2px solid rgb(13, 139, 77);
}

a {
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    z-index: 28929;
}

.drow-one {
    padding-top: 40px;
    padding-bottom: 30px;
}

.recommended-people-section {
    display: none;
}

.dcol {
    padding: 1% 1%;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.niche-con {}

.niche-membership {
    background-color: #dcf8c6;
    margin-right: 2px;
    border: 0;
    padding: 1%;
    border-radius: 5px;
}

.niche-membership:hover {
    box-shadow: 2px 2px 3px 1px rgb(240, 240, 240);
}

.niche-con .niche-name {
    margin-top: 10px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    padding: 2%;
}

.userpost .niche-name {}

.niche-banner {
    width: 100%;
    padding: 1%;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
}

.niche-stats {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    padding: 2%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.niche-stats p:nth-child(1) {
    border-bottom: 2px solid rgb(13, 139, 77);
}

.niche-stats p {
    margin: 0;
}

.mission-statement {
    border: 1px solid rgb(240, 240, 240);
    margin: 10px 0;
    padding: 1%;
    border-radius: 5px;
}

.related-niches-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.related-niches-container a {
    padding: 1%;
    margin-right: 3%;
    color: rgb(13, 139, 77);
}

.niche-posts-section {
    display: none;
}

.rp-container {
    width: 100%;
    display: none;
}

.rp-container .scroller {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.scroller .person {
    position: relative;
    text-align: center;
    margin-top: 5px;
    padding: 1% 3px;
    width: 45%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(240, 240, 240);
}

.scroller .person:hover {
    background-color: rgb(240, 240, 240);
}

.scroller .person .userlink {
    position: absolute;
    right: 5%;
}

.scroller .person .like-icon {
    position: absolute;
    top: 10px;
    right: 5%;
}

.scroller .person .image {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    padding: 2px;
    display: block;
    margin: 5px auto;
    border: 1px solid rgb(240, 240, 240);
}

.scroller .person .name {
    font-size: 0.9rem;
    margin: 10px 0;
    display: block;
    padding-bottom: 1%;
}

.more-posts-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}

.niches-section {
    margin-bottom: 70px;
    position: fixed;
    width: 23%;
}

.niches {}

.niches .niche {
    border: 1px solid rgb(219, 219, 219);
    padding: 0 1%;
    margin: 10px auto;
    border-radius: 5px;
    width: 100%;
}

.niches .niche:hover {
    background-color: ghostwhite;
}

.niches .niche .name {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 2%;
}

.niches .niche .foot {
    margin-top: 2%;
    border-top: 1px solid rgb(240, 240, 240);
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.niches .niche .foot:hover {
    border-top: 1px solid rgb(216, 215, 215);
}

.niches .niche .foot .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.niches .niche .foot .info .banner {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
}

.niches .niche .alias {
    font-size: 0.9rem;
    padding: 1% 0;
    color: gray;
    display: block;
    text-align: start;
}

.niches .niche .foot .mem {
    font-size: 0.9rem;
}

.niches .niche .foot .mem span {
    color: grey;
}

.niches .niche .foot .post {
    margin-left: 10px;
}

.niches .niche .foot .post span {
    color: grey;
}

.niches .niche .foot .membership {
    padding: 0% 2%;
}

.niches .niche .foot .more {
    padding: 1% 2%;
    margin-left: 10px;
}

.niches .niche .foot .join {
    padding: 1% 2%;
}

.niche-ad-section {
    display: none;
}

.niche-ad-section img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media screen and (min-width:576px) {
    .dcol:nth-child(2) {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width:768px) {
    .dcol:nth-child(2) {
        margin-top: 60px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .profile-edit-con {
        width: 65%;
        margin-left: 35%;
    }
    .scroller .person {
        width: 30%;
    }
}

@media screen and (min-width:992px) {
    .drow-one {
        padding-top: 60px;
    }
    .dcol:nth-child(2) {
        margin-top: 8px;
    }
    #recommeded-people-section {
        display: block;
    }
    .profile-metadata-con {
        margin-top: 13px;
    }
    .profile-metadata-con .edit-btn {
        display: none;
    }
    .profile-edit-con {
        display: block;
        position: fixed;
        top: 85px;
        overflow-y: scroll;
        width: 23%;
        height: 84%;
        padding: 0.5%;
        margin-left: 0;
        border: 1px solid rgb(240, 240, 240);
        border-radius: 5px;
        padding-bottom: 50px;
    }
    .profile-edit-con .other-info {
        display: block;
    }
    .edit-form .edit-cancel {}
    .scroller .person {
        width: 24%;
    }
    .niches-section {
        display: block;
    }
    .niche-con .niche-name {
        margin-top: 1px;
    }
    .niche-ad-section {
        position: fixed;
        top: 80px;
        right: 1%;
        width: 23%;
        display: block;
        margin-top: 10px;
    }
    .niche-ad-section .desc {
        background-color: #dcf8c6;
        padding: 1%;
    }
}