.site-nav {
    z-index: 2000;
}

.pvt-nav {
    z-index: 3000;
}

.pvt-nav .foot {
    z-index: 356786;
}

.pvt-nav .foot #fifth {
    border-bottom: 2px solid rgb(13, 139, 77);
}

a {
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    z-index: 28929;
}

a:focus,
a:hover {
    color: rgb(13, 139, 77);
}

a:visited {
    color: black;
}

.drow-one {
    padding-top: 40px;
    padding-bottom: 30px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.recommended-people-section {
    display: none;
}

.dcol {
    padding: 1% 1%;
}

.msg-paths {
    border-bottom: 1px solid rgb(240, 240, 240);
}

.msg-paths .control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg-paths .search-my-people-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: none;
}

.msg-paths .search-my-people-con #my-person-box {
    margin-right: 5%;
    border: 1px solid rgb(240, 240, 240);
    margin-bottom: 5px;
}

.msg-paths input:focus,
button:focus,
textarea:focus {
    border-color: rgb(224, 223, 223);
    box-shadow: 1px 1px 3px rgb(240, 240, 240);
}

.incoming-messages-section {
    padding: 4% 0.5%;
    border-radius: 5px;
    position: fixed;
    top: 95px;
    height: 100%;
    width: 98.5%;
    overflow-y: scroll;
    padding-bottom: 150px;
    background-color: white;
}

.incoming-messages {
    padding: 0;
}

.incoming-messages .incoming-msg {
    border: 1px solid rgb(240, 240, 240);
    padding: 1% 0.5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.5s;
    width: 99%;
    color: black;
    background-color: white;
    box-shadow: 2px 2px 3px rgb(240, 240, 240);
}

.incoming-messages .incoming-msg:hover {
    background-color: rgb(240, 240, 240);
    color: black;
}

.incoming-messages .incoming-msg .sender-photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 0.5%;
    margin: 5px auto;
    margin-right: 5px;
    border: 1px solid rgb(240, 240, 240);
}

.incoming-messages .incoming-msg .details {
    width: 100%;
}

.incoming-messages .incoming-msg .details p {
    font-size: 0.9rem;
    margin: 0;
}

.incoming-messages .incoming-msg .details .uad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.incoming-messages .incoming-msg .details .uad .date {
    font-size: 0.7rem;
    color: grey;
}

.default-text {
    width: 60%;
    border-radius: 50% 25% 70% 20%;
    margin: 20% auto;
    padding: 6%;
    box-shadow: 5px 5px 30px rgb(253, 230, 242);
    display: none;
    transition: 0.5s;
    color: white;
    background-color: rgb(13, 139, 77);
}

.default-text:hover {
    background-color: white;
    color: black;
}

.chat-board {
    margin-top: 1.8%;
    padding: 1%;
    padding-top: 2%;
    display: none;
    transition: 1s;
    border-radius: 5px;
    min-height: 200%;
}

.chat-board .chat-pane {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.chat-board .chat {
    width: 70%;
    border-radius: 40px;
    margin: 20px 0;
    padding: 4%;
    font-size: 0.9rem;
    box-shadow: 3px 3px 10px rgb(204, 203, 203);
}

.chat-board .chat .date {
    font-size: 0.8rem;
    color: gray;
}

.chat-board .chat:hover {}

.chat-board .sender {
    margin-left: 30%;
    background-color: rgb(250, 150, 203);
    transition: 1s;
}

.chat-board .sender:hover {
    background-color: rgb(224, 18, 128);
}

.chat-board .receiver {
    background-color: #dcf8c6;
    transition: 1s;
}

.chat-board .receiver:hover {
    background-color: rgb(13, 139, 77);
    color: white;
}

.chat-board .msg-send-form {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ghostwhite;
    left: 0;
    padding: 1%;
}

.chat-board .msg-send-form input {
    width: 80%;
}

.chat-board .msg-send-form input:focus,
button:focus,
textarea:focus {
    border-color: rgb(224, 223, 223);
    box-shadow: 1px 1px 3px 3px rgb(229, 245, 238);
}

.my-people-section {
    margin-bottom: 100px;
    width: 100%;
    display: none;
}

.rp-container {
    width: 100%;
    display: block;
    color: rgb(224, 18, 128);
}

.rp-container .scroller {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.scroller .person {
    position: relative;
    text-align: center;
    margin-top: 5px;
    padding: 1% 3px;
    width: 46%;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 1s;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(240, 240, 240);
}

.scroller .person:hover {
    background-color: rgb(240, 240, 240);
}

.scroller .person .userlink {
    position: absolute;
    right: 5%;
}

.scroller .person .like-icon {
    position: absolute;
    top: 10px;
    right: 5%;
}

.scroller .person .image {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    padding: 2px;
    display: block;
    margin: 5px auto;
    border: 1px solid rgb(240, 240, 240);
}

.scroller .person .name {
    font-size: 0.9rem;
    margin: 10px 0;
    display: block;
    padding-bottom: 1%;
}

.userposts {}

.userposts .userpost {
    margin: 5px 0;
    padding: 0;
    border-radius: 5px;
    border-bottom: 1px solid rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
}

.userposts .userpost:hover {
    background-color: ghostwhite;
}

.userpost .thumbnail-con img {
    width: 100%;
}

.userpost .content-con {
    display: block;
}

.userpost .post-thumbnail {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.userpost .title {
    display: block;
    font-weight: 500;
    margin-top: 10px;
    font-size: 1rem;
    padding: 1%;
}

.userpost .content-con .title:focus {
    color: rgb(13, 139, 77);
}

.userpost .content-con .post-type {
    margin-top: 2px;
    display: inline-block;
    margin-left: 5px;
    padding: 0.5% 1.5%;
    font-size: 0.9rem;
    border-radius: 5px;
}

.userpost .metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.userpost .metadata .user-info {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
}

.userpost .metadata .user-info .photo {
    width: 35px;
    height: 35px;
}

.userpost .metadata .user-info img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
}

.userpost .metadata .user-info .ud .date {
    font-size: 0.7rem;
    color: gray;
    margin-top: -1px;
}

.userpost .metadata .stats {
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 39%;
}

.userpost .metadata .stats div {
    margin: 0 4px;
    width: 45%;
}

.userpost .metadata .stats .count {
    font-size: 0.7rem;
    color: grey;
}

.userpost .metadata .alias-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-posts-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}

@media screen and (min-width:576px) {
    .dcol:nth-child(2) {
        padding-left: 10%;
        padding-right: 10%;
    }
    .incoming-messages-section {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 1%;
    }
    .chat-board .msg-send-form {
        left: 8%;
        width: 85%;
        border-radius: 10px;
    }
}

@media screen and (min-width:768px) {
    .dcol:nth-child(2) {
        margin-top: 60px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .incoming-messages-section {
        width: 64.5%;
        margin-left: 33.5%;
        padding: 1%;
        margin-top: 5%;
    }
    .chat-board .msg-send-form {
        width: 65.5%;
        left: 34%;
        bottom: 0;
        border-radius: 10px;
    }
    .userpost {
        border: 1px solid rgb(240, 240, 240);
    }
    .scroller .person {
        width: 30%;
    }
}

@media screen and (min-width:992px) {
    .drow-one {
        padding-top: 60px;
    }
    .dcol:nth-child(2) {
        margin-top: 8px;
    }
    #recommeded-people-section {
        display: block;
    }
    .profile-metadata-con {
        margin-top: 13px;
    }
    .profile-edit-con {
        display: block;
        position: fixed;
        top: 85px;
        overflow-y: scroll;
        width: 23%;
        height: 84%;
        padding: 0.5%;
        border: 1px solid rgb(240, 240, 240);
        border-radius: 5px;
        padding-bottom: 50px;
    }
    .default-text {
        display: block;
    }
    .chat-board .chat-pane .cancel {
        display: none;
    }
    .chat-board .msg-send-form {
        width: 48%;
        left: 26%;
        padding: 1.5% 1%;
    }
    .incoming-messages-section {
        border: 1px solid rgb(240, 240, 240);
        margin-left: 0;
        margin-top: 0px;
        width: 24%;
        height: 100%;
        padding: 0.5%;
        padding-top: 1%;
        padding-bottom: 150px;
    }
    .scroller .person {
        width: 45%;
    }
    .niches-section {
        display: block;
    }
    .userposts-section {
        display: block;
        padding: 1%;
        padding-top: 1px;
    }
    .userposts .userpost {
        border: 1px solid rgb(240, 240, 240);
    }
    .userpost .content-con .title {
        font-size: 1.2rem;
    }
    .incoming-messages-section {
        position: fixed;
        top: 87px;
        width: 23%;
        height: 100%;
    }
}