.dcol:nth-child(1) {
    padding: 2%;
    padding-top: 130px;
}

.courseware {}

.courseware .course-sections {}

.course-sections .csection {
    margin-bottom: 20px;
}

.csection .cs-head {
    color: white;
    padding: 2% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.csection .cs-head .cs-title {
    width: 80%;
}

.cs-mat-and-test-con {}

.cs-mat-and-test-con .cs-mt {
    margin: 10px 0;
    padding: 1%;
    border-radius: 5px;
}

.cs-mat-and-test-con .cs-mt .desc {
    display: block;
    font-size: 0.8rem;
    color: grey;
}