.c-con {
    display: none;
}

.course-review {
    border-radius: 5px;
    width: 70%;
}

.course-section {
    border-radius: 5px;
}

.payment-info-box {
    display: none;
    transition: 1s;
}

.payment-info-box .top-up-btn {
    display: none;
}

.payment-info-box .confirmation-btn {
    display: none;
}

@media screen and (min-width: 1024px) {
    .controller {
        position: fixed;
        width: 23%;
    }
    .c-con {
        display: block;
    }
}