.site-nav {
    z-index: 2000;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.drow-one {
    padding-top: 50px;
}

.dcol {
    padding: 2%;
}

.ads-container {
    position: relative;
}

.ads-container img {
    border: 1px solid rgb(240, 240, 240);
}

.ads-container #cancel-icon {
    position: absolute;
    top: 10px;
    right: 2px;
    padding: 2%;
    border-radius: 50%;
    background-color: #fff;
}

.post-types {
    width: 100%;
    overflow-x: scroll;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-bottom: 0.5%;
}

.post-types .scroller {
    width: 240%;
}

.post-types .scroller .btn {
    border: 1px solid rgb(240, 240, 240);
    margin-right: 5px;
}

.userposts {}

.userposts .userpost {
    position: relative;
    margin: 10px 0;
    padding: 2% 1%;
    padding-bottom: 0;
}

.userpost .head {
    border-bottom: 1px solid rgb(240, 240, 240);
    font-style: italic;
}

.userpost .head .dot {
    padding: 2px;
    margin: 1px 5px;
    display: inline-block;
    background-color: black;
    border-radius: 50%;
}

.userpost .head .author {
    margin-right: 5px;
}

.userpost .thumbnail-con img {
    width: 100%;
}

.userpost .content-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userpost .content-con img {
    width: 30%;
    margin-right: 10px;
    border-radius: 5px;
}

.userpost .content-con .title {
    display: block;
    font-weight: 555;
    font-size: 1rem;
    padding: 10px 0;
}

.userpost .date {
    font-size: 0.8rem;
    color: gray;
}

.userpost .metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
    border-top: 1px solid rgb(240, 240, 240);
}

.userpost .metadata .niche-info {
    width: 40%;
}

.userpost .metadata .niche-info .btn {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

.userpost .metadata .stats {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.userpost .metadata .stats div {
    margin: 0 7px;
}

.userpost .metadata .stats .count {
    font-size: 0.7rem;
    color: grey;
}

.userpost .metadata .alias-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-posts-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}

@media screen and (min-width:1024px) {
    .userpost {}
}