.drow-one {
    padding-top: 70px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(13, 139, 77);
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.niche-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.niche-meta .btn {
    padding: 1% 2%;
}

.ads-banner {
    margin: 5px 0;
}

.ads-banner img {
    width: 100%;
}

.about-con {
    padding: 2% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(240, 240, 240);
}

.about-details-con {
    padding: 2% 1%;
}

.about-details-con .related-niches {
    padding: 1% 2%;
}

.userposts {}

.userposts .userpost {
    position: relative;
    margin: 10px 0;
    padding: 2% 1%;
    padding-bottom: 0;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
}

.userpost .head {
    border-bottom: 1px solid rgb(240, 240, 240);
    font-style: italic;
    display: flex;
    justify-content: flex-end;
}

.userpost .head .username {
    display: none;
}

.userpost .head .dot {
    padding: 2px;
    margin: 1px 5px;
    display: none;
    background-color: rgb(233, 14, 131);
    border-radius: 50%;
}

.userpost .head .author {
    margin-right: 5px;
}

.userpost .head .date {
    font-size: 0.7rem;
    color: grey;
    padding: 1%;
    padding-right: 3%;
}

.userpost .thumbnail-con img {
    width: 100%;
    margin-left: 5px;
}

.userpost .content-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userpost .content-con img {
    width: 30%;
    margin-right: 10px;
    margin-left: 1%;
    border-radius: 5px;
}

.userpost .content-con .title {
    display: block;
    font-weight: 550;
    font-size: 1rem;
    padding: 10px 1px;
    text-align: start;
    width: 70%;
}

.userpost .date {
    font-size: 0.8rem;
    color: gray;
}

.userpost .metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
    padding: 1%;
    border-top: 1px solid rgb(240, 240, 240);
}

.userpost .metadata .niche-info {
    width: 40%;
}

.userpost .metadata .niche-info .btn {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

.userpost .metadata .stats {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.userpost .metadata .stats div {
    margin: 0 7px;
}

.userpost .metadata .stats .count {
    font-size: 0.7rem;
    color: grey;
}

.userpost .metadata .alias-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}