body {}

nav {
    position: fixed;
    background-color: white;
    padding: 1%;
    width: 100%;
    z-index: 2000;
    box-shadow: 1px 1px 4px rgb(219, 219, 219);
}

nav .head {
    padding: 1% 2%;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .head .brand {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .head .brand img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

nav .head .name {
    margin-top: 7px;
}

.nav .head .name .s,
.nav .head .name .t {
    display: none;
}

nav .head .form {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .form input {
    width: 85%;
}

nav .form svg {
    margin-right: 1%;
}

nav .functions {
    width: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .functions #search {}

nav .functions #menu {
    display: none;
}

nav .foot {
    margin-top: 5px;
    width: 100%;
    padding: 0.5% 2%;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav .foot a {
    text-decoration: none;
    display: block;
    margin-bottom: -5px;
    padding-top: 4%;
    padding-bottom: 4%;
    color: black;
    width: 90px;
    text-align: center;
}

nav .menu-options {
    padding-top: 10%;
    z-index: 2008;
    display: none;
    position: fixed;
    top: 110px;
    right: 0;
    height: 100%;
    width: 100%;
    height: 300px;
    border-bottom: 3px solid rgb(235, 233, 233);
    background-color: white;
}

nav .foot .learn {
    color: white;
}

.container-fluid {
    padding-top: 80px;
}

.welcome-con {
    position: relative;
    height: 500px;
}

.welcome-con .welcome-note {
    position: absolute;
    top: 70px;
    padding: 2%;
    color: white;
    text-align: center;
}

.welcome-con .core-links {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.site-intro {
    height: 100%;
    width: 100%;
    background-position: top;
}

.dcol-first {
    padding: 0;
    margin-bottom: 20px;
}

.site-intro h1 {
    color: white;
}

.drow-last {
    padding-top: 10px;
    text-align: center;
    background-color: rgb(240, 240, 240);
}

.drow-middle {
    padding: 20px 0%;
}

.d-grid .router {
    margin-top: 20px;
}

.course {
    margin: 10px 0;
    box-shadow: 1px 1px 2px 1px rgb(235, 233, 233);
}

.course .head {
    border-radius: 5px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px 1px rgb(235, 233, 233);
}

.course .head .banner {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 0.5%;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid rgb(219, 219, 219);
}

.course .head .title {
    width: 84%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.course .foot {
    position: relative;
    height: 150px;
    border-radius: 5px;
    background-color: rgb(235, 233, 233);
}

.course .foot .enrolment-btn {
    position: absolute;
    bottom: 0;
}

.userposts {}

.userposts .userpost {
    position: relative;
    padding: 2% 1%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.userposts .userpost .post-title a {
    color: black;
    text-decoration: none;
    line-height: 1.5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.userposts .userpost .tags-container a {
    margin-top: 3px;
    padding: 0.5% 1%;
    margin-right: 7px;
}

.userposts .userpost .post-foot {
    height: 60px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userposts .userpost .post-foot .ID {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.userposts .userpost .post-foot .ID img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
    border-radius: 50%;
}

.userposts .userpost .post-foot .ID .uand {
    display: block;
    width: 80%;
    color: black;
    text-decoration: none;
}

.userposts .userpost .post-foot .ID .uand .name {
    display: block;
}

.userposts .userpost .post-foot .ID .uand .date {
    font-size: 0.8rem;
    color: grey;
}

.userposts .userpost .stats {
    padding-right: 5px;
    text-align: center;
    position: absolute;
    right: 0;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userposts .userpost .stats p {
    font-size: 0.8rem;
    color: grey;
    margin: 0;
}

.vlabs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
}

.vlab {
    border: 1px solid rgb(240, 240, 240);
    padding: 1%;
    border-radius: 5px;
    margin: 5px 0;
    margin-right: 20px;
    height: 160px;
    width: 120px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vlab img {
    width: 100%;
    height: 110px;
    display: block;
    margin: 1px auto;
    border-radius: 5px;
}

.drow-last {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.drow-last a {
    text-decoration: none;
    border: 0;
}

.drow-last .company-info {
    text-align: center;
    padding-top: 20px;
}

@media screen and (min-width: 768px) {
    nav .head {
        padding: 2%;
    }
    nav .head .brand {
        height: 100%;
        width: 100%;
    }
    nav .head .form {
        width: 50%;
        display: flex;
        margin-right: 0;
    }
    nav .head .form input {
        width: 100%;
    }
    nav .head .form svg {
        display: none;
    }
    nav .head .functions {
        display: none;
        width: 12%;
        justify-content: flex-end;
        border: 1px solid red;
    }
    .nav .head .name .s,
    .nav .head .name .t {
        display: inline;
    }
    nav .head .functions #search {
        display: none;
    }
    nav .foot a {
        width: 100%;
    }
    nav .menu-options {
        padding-top: 1%;
        height: 100px;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav .head {
        padding-right: 0;
        width: 70%;
    }
    nav .head .brand {
        width: 45%;
    }
    nav .head .form {
        width: 50%;
        margin-right: 5%;
    }
    nav .head .form input {
        width: 100%;
    }
    nav .head .functions {
        display: none;
    }
    nav .foot {
        width: 30%;
    }
    nav .menu-options {
        background-color: rgb(235, 233, 233);
        display: block;
        width: 20%;
        height: 400px;
        right: 2.5%;
        border-radius: 5px
    }
    .nav .head .name .s,
    .nav .head .name .t {
        display: inline;
    }
}


/**
* export-bound-code for user learning tracking
*/