a {
    text-decoration: none;
}

.site-nav {
    z-index: 56578;
}

.regform input:focus,
button:focus,
.regform select:focus,
.regform textarea:focus {
    border-color: rgb(224, 223, 223);
    box-shadow: 1px 1px 3px 3px rgb(229, 245, 238);
}

.regform input[type="checkbox"] {
    border: 0;
}

.site-nav svg {
    visibility: hidden;
}

#gender option:focus {
    border-color: rgb(224, 223, 223);
    box-shadow: 1px 1px 3px 3px rgb(229, 245, 238);
    background-color: rebeccapurple;
}

.info {
    text-align: center;
    text-shadow: 2px 3px 3px rgb(94, 207, 158);
    margin-bottom: 10px;
}