.qs input:focus,
.qs select:focus,
button:focus,
textarea:focus {
    border-color: rgb(224, 223, 223);
    box-shadow: 1px 1px 3px 3px rgb(229, 245, 238);
}

.qs .scope {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qs .scope * {
    width: 49%;
}

.qs .main {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qs .main input {
    margin-right: 5px;
}