.form-con {
    width: 100%;
    margin: 20% 0;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 2px 2px 3px rgb(228, 228, 228);
}

.form-con * {
    margin: 20px 0;
}

.form-con input:focus {
    border: 0;
    box-shadow: 1px 1px 3px 3px rgb(202, 247, 224);
}

@media screen and (min-width:768px) {
    .form-con {
        width: 70%;
        margin: 100px auto;
    }
}

@media screen and (min-width:1024px) {
    .form-con {
        width: 50%;
        margin: 120px auto;
    }
}