.userpost {
    margin: 10px 0;
    border: 1px solid rgb(226, 226, 226);
    padding: 1% 2%;
    border-radius: 5px;
}

.userpost .head {
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.userpost .head img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.userpost .head .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.userpost .head .meta .info {
    height: 90%;
    position: relative;
    margin-left: 4px;
}

.userpost .head .meta .info .username {
    margin: 0;
}

.userpost .head .meta .info .date {
    color: grey;
    font-size: 0.7rem;
    position: absolute;
}

.userpost .image-con {
    padding-top: 1%;
}

.userpost .image-con img {
    width: 100%;
}

.userpost .foot {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userpost .foot a {
    padding: 1% 2%;
}

@media screen and (min-width:768px) {
    .userpost {
        width: 80%;
        margin: 3px auto;
    }
}

@media screen and (min-width:1024px) {
    .userpost {
        width: 50%;
        margin: 5px auto;
    }
}