<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
</head>

<body>

    <form action="/auth4login" class="row p-3" id="loginform" method="POST">
        <div class="justify-content-center col-6">
            <div class="input-group mb-3 ">
                <label for="pwd" class="input-group-text bg-light w-100">User-name:</label>
                <input type="text" class="form-control" placeholder="Enter username" name="user" autocomplete="off">
            </div>
            <div class="input-group mb-3 ">
                <label for="pwd" class=" input-group-text bg-light w-100">Password: </label>
                <input type="password" class="form-control" placeholder="Enter password" name="pswd">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary col-3">Login</button>
        </div>
    </form>
    <!-- _________________________________________________________ -->
    <form action="/auth4register" class="row p-3 mw-50 justify-content-center needs-validation" id="regform" style="display:none;">
        <div class="col-8">
            <div class="input-group mb-3">
                <label for="pwd" class="w-100 input-group-text bg-light">User-name: </label>
                <input type="text" class="form-control" placeholder="Enter username" name="userR" onchange="checkerForDuplication(this.value)" autocomplete="off">
            </div>
            <div class="input-group mb-3">
                <label for="email" class="w-100 input-group-text bg-light">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="emailR" autocomplete="off">

            </div>
            <div class="input-group mb-3 ">
                <label for="number" class="w-100 input-group-text bg-light">Phone Number:</label>
                <input type="number" class="form-control" id="number" placeholder="Enter a correct Phone Number" name="numberR" autocomplete="off">

            </div>
            <div class="input-group mb-3 ">
                <label for="pwd" class="w-100 input-group-text bg-light">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" name="pswdR">
            </div>
            <div class="input-group mb-3">
                <label for="pwd" class="w-100 input-group-text bg-light">Comfirm Password:</label>
                <input type="password" class="form-control " placeholder="Confirm password" name="conpswdR">
            </div>
        </div>
        <div class="form-check mb-3 col-sm-8">
            <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
          </label>
        </div>

        <button type="submit" class="btn btn-primary col-2" id="registerButton">Submit</button>
        <span id="message"></span>
    </form>

    <!-- //______________________________________________________________________________ -->
    <button type="button" id="model" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" hidden>
        Open modal
      </button>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Modal body..
                </div>
                <div class="modal-footer text-start">
                    <p class="h6 text-start">Geneticks Computer Institute</p>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- //______________________________________________________________________________ -->

    <div class="d-grid">
        <button class="btn btn-outline-primary" id="link">Create an account</button>
    </div>
    <script src="static/js/jQuery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="static/js/register.js"></script>
</body>

</html>