<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="rgb(13, 139, 77)" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/pvt/pvt-site-wide.css">
    <link rel="stylesheet" href="/static/css/pvt/pvt-editor.css">
    <script defer src="/static/bootstrap/js/bootstrap.bundle.js"></script>
    <script defer src="/static/js/jQuery.min.js"></script>
    <script defer src="/static/js/custom/pvt/pvt-site-wide.js"></script>
    <script defer src="/ckeditor5-classic/ckeditor.js"></script>
    <script defer src="/static/js/custom/pvt/pvt-editor.js"></script>
    <title>Editor Page</title>
</head>

<body>

    <nav class="pvt-nav ">
        <header class="head bg-success" style="z-index: 4567890;">
            <div class="brand">
                <img src="/static/images/avatar-2.jpg" alt="brand logo" width="30px" height="30px">
                <h1 class="name text-light">Ksharer</h1>
            </div>
            <form id="form" action="/search" method="get">
                <input class="form-control" type="search" name="query" id="term" placeholder="What do you wanna know?">
            </form>
            <div class="commons">
                <svg xmlns="http://www.w3.org/2000/svg" id="search-icon" width="25" height="25" fill="" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>

                <div class="m-con">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="M9.5
            13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z "/></svg>
                </div>

            </div>

        </header>
        <footer class="foot bg-success">
            <a href="/newsfeed">
                <svg xmlns="http://www.w3.org/2000/svg" fill="" class="bi bi-house-fill" viewBox="0 0 16 16"> <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/> <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/> </svg>
                <p id="first">Newsfeed</p>
            </a>
            <a href="/post/edit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                  </svg>
                <p id="create">Create</p>
            </a>
            <a href="/user/drakee">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <p id="current-user" class="c-user-name"></p>
            </a>

            <a href="/user/connections">
                <svg xmlns="http://www.w3.org/2000/svg" fill="" class="bi bi-people-fill" viewBox="0 0 16 16"> <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/> </svg>
                <p id="network">Network</p>
            </a>
            <a href="/message/inbox">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-quote-fill" viewBox="0 0 16 16">
                    <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
                  </svg>
                <p id="messages">Messages</p>
            </a>
        </footer>
    </nav>
    <section class="sitewide-loader"></section>
    <main class="container-fluid">
        <section class="drow-one row">
            <div class="dcol col-md-4 col-lg-3 pt-3">
                <!-- to show events happening now in the form of notifications, messages, alerts -->
                <aside class="events-menu" style="z-index: 232368386327977323032326832;">
                    <a href="/logout" class="logout path text-danger ">
                        Logout...
                        </a>
                    <div class="notes">
                        <a href="#" class="btn btn-light mb-2 mt-2">David replied to your comment</a>
                        <a href="#" class="btn btn-light mb-2 mt-2">David replied to your comment wi wwe ewjwehweiu wewooifr fr</a>

                    </div>


                </aside>

            </div>
            <div class="dcol col-md-8 col-lg-6" style="display: none;">
                <section class="content-area pb-5">
                    <header style="display: flex;justify-content: space-between;align-items: center;border: 1px solid rgb(240, 240, 240);border-radius: 5px;margin-top: 10px; padding: 1%;">
                        <h4>Check Post Creation Rules...</h4>
                        <button class="btn btn-light your-posts-display-btn" style="padding: 1%;margin-right: 1%;">Your Posts</button>
                    </header>

                    <div class="edit-scopes">
                        <select name="post-visibility" id="post-visibility" class="post-visibility form-control" style="width: 32%;" required="required">
                            <option value="pub" selected>Public</option>
                            <option value="pvt">Private</option>
                        </select>
                        <select name="post-type" id="post-type" class="form-control" style="width: 32%;" required="required">
                            <option value="1" selected>News</option>
                            <option value="2">Fact</option>
                            <option value="3">Comedy</option>
                            <option value="4">Personal</option>
                            <option value="5">Question</option>
                            <option value="6">Tutorial</option>
                            <option value="7">Review</option>
                        </select>
                        <select name="post-category" id="post-category" class="form-control" style="width: 32%;" required="required">
                        
                        </select>
                    </div>
                    <header class="mb-2" style="display: flex; justify-content: space-between;font-size: 0.8rem; color: #25d366;">
                        <span style="width: 30%;">Visibility</span>
                        <span style="text-align: center; width: 30%;">Type of Post</span>
                        <span style="width: 30%;">Destination Community</span>
                    </header>
                    <input type="text" id="post-title" class="form-control mt-2 mb-3 p-2" placeholder="Title of post...Required" required="required">
                    <section class="post-editor mt-1">

                        <div id="ckeditor" style="transition: 1s;">

                        </div>

                    </section>
                    <footer class="d-grid mt-4">
                        <button class="btn text-light bg-success" id="editor-data-btn">Save New Post</button>
                    </footer>
                    <button class="alt-del btn btn-danger mt-2 mb-2" style="display: none;" data-pid="0">Delete Post</button>
                </section>
            </div>
            <div class="dcol col-lg-3" style="display: none;">
                <section class="userposts2edit-con">
                    <button class="btn btn-success " id="editor-data-set-btn" style="display: none;">Set Editor Data</button>
                    <header class="up2e-head" style="display: flex;justify-content: space-between;align-items: center;">
                        <input type="text" name="self-post-search" id="sps" class="form-control mt-2" placeholder="search your posts...">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 5%; margin-right: 1%" width="30" height="30" fill="currentColor" class="bi bi-x-lg  self-posts-cancel-icon" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                          </svg>
                    </header>
                    <span class="search-clearer mt-2" style="display: none;">Clear Search...</span>
                    <aside class="searched-posts mt-2 mb-2" style="border-radius: 5px;padding: 0.5% 1%;color: white;transition: 1s;max-height: 80%;">

                    </aside>

                    <div class="self-posts">
                        <!-- <article class="self-post">
                            <a href="/post/23/" class="title">
                                The title of the post should be placed here...
                            </a>
                            <footer class="foot">
                                <header class="controllers">
                                    <button class=" update-btn">Update</button>
                                    <button class=" deletion-btn">Delete</button>
                                </header>
                                <span class="date">March 23, 2021</span>
                            </footer>
                        </article> -->

                    </div>
                    <button class="btn btn-light mb-2 more-self-posts-btn" style="font-size: 0.8rem;" data-pos="0">More of your posts...</button>

                </section>

            </div>
        </section>
    </main>
</body>

</html>