<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="rgb(13, 139, 77)" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/pvt/pvt-site-wide.css">
    <link rel="stylesheet" href="/static/css/pvt/pvt-msg.css">
    <script defer src="/static/bootstrap/js/bootstrap.bundle.js"></script>
    <script defer src="/static/js/jQuery.min.js"></script>
    <script defer src="/static/js/custom/pvt/pvt-site-wide.js"></script>
    <script defer src="/static/js/custom/pvt/pvt-msg.js"></script>
    <title>Messaging Page</title>
</head>

<body>
    <nav class="pvt-nav ">
        <header class="head bg-success" style="z-index: 4567890;">
            <div class="brand">
                <img src="/static/images/avatar-2.jpg" alt="brand logo" width="30px" height="30px">
                <h1 class="name text-light">Ksharer</h1>
            </div>
            <form id="form" action="/search" method="post">
                <input class="form-control" type="search" name="qeury" id="term" placeholder="What do you wanna know?">
            </form>
            <div class="commons">
                <svg xmlns="http://www.w3.org/2000/svg" id="search-icon" width="25" height="25" fill="" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>

                <div class="m-con">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="M9.5
            13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z "/></svg>
                </div>

            </div>

        </header>
        <footer class="foot bg-success">
            <a href="/newsfeed">
                <svg xmlns="http://www.w3.org/2000/svg" fill="" class="bi bi-house-fill" viewBox="0 0 16 16"> <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/> <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/> </svg>
                <p id="first">Newsfeed</p>
            </a>
            <a href="/post/edit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                  </svg>
                <p id="create">Create</p>
            </a>
            <a href="/user/drakee">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <p id="current-user" class="c-user-name"></p>
            </a>

            <a href="/user/connections">
                <svg xmlns="http://www.w3.org/2000/svg" fill="" class="bi bi-people-fill" viewBox="0 0 16 16"> <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/> </svg>
                <p id="network">Network</p>
            </a>
            <a href="/message/inbox">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-quote-fill" viewBox="0 0 16 16">
                    <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
                  </svg>
                <p id="messages">Messages</p>
            </a>
        </footer>
    </nav>

    <main class="container-fluid">
        <section class="drow-one row">
            <div class="dcol col-md-4 col-lg-3 pt-3">
                <!-- to show events happening now in the form of notifications, messages, alerts -->
                <aside class="events-menu" style="z-index: 232368386327977323032326832;">
                    <div class="con d-grid">
                        <header class="notifications bg-success text-light mb-2 path notifications-tab">
                            <a href="/notifications" class="text-light">Notifications</a>
                            <span>0</span>
                        </header>
                        <button class="btn p-3 mb-2">Note 1</button>

                        <button class="btn p-3 mb-2">Note 1 kwewwe ew ewk ewwewkwe w hr rur rjer ere iew kier eieu93 3i34b3i33 3i37309383 33498 rk93403</button>

                        <button class="btn p-3 mb-2">Note 1 kwewwe ew ewk ewwewkwe w hr rur rjer ere iew kier eieu93 3i34b3i33 3i37309383 33498 rk93403</button>


                    </div>

                    <a href="/logout" class="logout path text-danger">
                    Logout...
                    </a>
                </aside>

            </div>
            <div class="dcol col-md-8 col-lg-6 pt-1">
                <!-- default template before viewing messages -->
                <h3 class="default-text">Start beautiful conversations with people that matter to you...</h3>

                <section class="chat-board">
                    <header class="chat-pane">
                        <h4 class="username">Phychemma</h4>
                        <button class="btn btn-light" data-older-pos="0" style="border-radius: 10px; font-size: 0.9rem;">Older Messages...</button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="cancel bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                          </svg>
                    </header>
                    <div class="conversations">
                        <article class="chat sender">
                            <p class="body">This is the body of the chat...ok?</p>
                            <span class="date">20-2-2</span>
                        </article>
                        <article class="chat receiver">
                            <p class="body">This is the body of the chat...ok? be <br> as <br> lengthy <br> as <br> possible <br></p>
                            <span class="date">20-2-2</span>
                        </article>
                    </div>
                    <form action="/message/send" class="msg-send-form" data-to="0">
                        <input type="text" name="body" id="body" class="form-control" placeholder="Type your message here...">
                        <button class="btn btn-secondary" style="padding: 1% 2%;">Send</button>
                    </form>
                </section>
            </div>
            <div class="dcol col-lg-3 ">
                <section class="incoming-messages-section ">
                    <header class="msg-paths ">
                        <div class="control">
                            <h4 class="messages-btn text-sucess">Messages...</h4>
                            <button class="my-people-btn p-1 mb-2 bg-success" style="color: white;border: 0;border-radius: 5px;">My People</button>
                        </div>
                        <div class="search-my-people-con">
                            <input type="search" name="my-person-box" id="my-person-box" class="form-control" placeholder="search your people...">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg my-people-cancel" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                              </svg>
                        </div>
                    </header>
                    <div class="incoming-messages ">
                        <!-- <article class="incoming-msg bg-secondary">
                            <img src="/static/images/pexels-eberhard-grossgasteiger-1421903.jpg " alt="sender icon " class="sender-photo ">
                            <footer class="details ">
                                <p class="uad "><b class="username ">Pexel-Lg</b><span class="date "> 20-20-20</span></p>
                                <p class="body ">The content of the message goes here...</p>
                            </footer>
                        </article> -->
                    </div>
                    <div class="my-people-search-results" style="color: gray; padding: 3% 1%; display: none;">
                        My people search results are asynly displayed here...
                    </div>
                    <div class="my-people-section ">
                        <section class="rp-container" style="display: block;">
                            <div class="people scroller">

                                <article class="person">

                                    <img class="image" src="/static/images/download (2).jpg" alt="person photo">
                                    <a href="/user/Username" class="name">TrustarScientist</a>
                                </article>
                                <article class="person">

                                    <img class="image" src="/static/images/chef-2.jpg" alt="person photo">
                                    <a href="/user/Username" class="name">Weeeeeeeeeee</a>
                                </article>

                            </div>
                            <button class="next-people btn btn-light mb-2" data-next-pos="0" style="text-align: start;font-size: 0.9rem;">More in my network...</button>
                        </section>
                    </div>
                </section>
            </div>
        </section>
    </main>
</body>

</html>